html,
body {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-control-layers-list{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  /* height: 90vh */
}

.leaflet-control-layers-separator {
  height: 0px;
  border-top: 0px solid #ddd;
}